# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# VS Code settings
.vscode/

# SQLite Database (we will handle this differently on Render)
*.sqlite
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db